<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# fitness: http://ogp.me/ns/fitness#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.imagenes | append: "/iconos/apple-touch-icon.png" | relative_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.imagenes | append: "/iconos/favicon-32x32.png" | relative_url }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.imagenes | append: "/iconos/favicon-16x16.png" | relative_url }}" />
  <link rel="manifest" href="{{ site.imagenes | append: "/iconos/manifest.json" | relative_url }}" />
  <link rel="mask-icon" href="{{ site.imagenes | append: "/iconos/safari-pinned-tab.svg" | relative_url }}" color="#32d51f" />
  <link rel="shortcut icon" href="{{ site.imagenes | append: "/iconos/favicon.ico" | relative_url }}" />
  <meta name="msapplication-config" content="{{ site.imagenes | append: "/iconos/browserconfig.xml" | relative_url }}" />
  <meta name="theme-color" content="#000000" />

{%- comment %} Esto se mostrará siempre excepto si es un error 404, que en teoría no se debe compartir {% endcomment -%}
{%- capture metatagscomunes %}
  <meta property="og:rich_attachment" content="true" />
  <meta property="og:site_name" content="{{ site.title | xml_escape }}" />
  <meta property="fb:app_id" content="{{ site.facebook.id }}" />
  <meta property="og:locale" content="es_ES" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter.project }}" />
  <meta name="twitter:creator" content="@{{ site.twitter.personal }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | xml_escape }}" href="{{ "/feed.xml" | absolute_url }}" />
{%- endcapture %}

{%- if page.layout == "index" %}
  {%- if paginator.page > 1 %}
  <title>{{ site.title | xml_escape }} | Página {{ paginator.page }}</title>
  {%- else %}
  <title>{{ site.title | xml_escape }}</title>
  {%- endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.title | xml_escape }}" />
  <meta property="og:url" content="{{ "/" | absolute_url }}" />
  <meta property="og:description" content="{{ site.description | escape | strip }}" />
  <meta name="description" content="{{ site.description | escape | strip }}" />
  <meta property="og:image" content="{{ site.imagenes | append: "/default/facebook.jpg" | absolute_url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:alt" content="Imagen predeterminada de la web" />
  {%- if paginator.previous_page_path %}
  <link rel="prev" href="{{ paginator.previous_page_path | relative_url }}" />
  {%- endif %}
  {%- if paginator.next_page_path %}
  <link rel="next" href="{{ paginator.next_page_path | relative_url }}" />
  {%- endif %}
  <link rel="canonical" href="{{ "/" | absolute_url }}" />
  {{- metatagscomunes }}
{%- elsif page.title == "404" %}
  <title>Error 404 (No encontrado) | {{ site.title }}</title>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />
{%- else %}
  <title>{{ page.title | escape }} | {{ site.title }}</title>
  {%- if page.layout == "ruta"%}
  <meta property="og:type" content="fitness.course" />
    {%- if page.cantidades.distancia %}
  <meta property="fitness:distance:value" content="{{ page.cantidades.distancia }}.0" />
  <meta property="fitness:distance:units" content="m" />
    {%- endif %}
    {%- if page.cantidades.duracion %}
  <meta property="fitness:duration:value" content="{{ page.cantidades.duracion | times: 60 }}.0" />
  <meta property="fitness:duration:units" content="s" />
    {%- endif %}
    {%- if page.cantidades.distancia and page.cantidades.duracion %}
    {%- assign segundos = page.cantidades.duracion | times: 60.0 %}
  <meta property="fitness:speed:value" content="{{ page.cantidades.distancia | divided_by: segundos }}" /> 
  <meta property="fitness:speed:units" content="m/s" />
    {%- endif %}
  {%- else %}
  <meta property="og:type" content="article" />
  <meta property="article:author" content="https://www.facebook.com/{{ site.facebook.personal }}" />
  <meta property="article:published_time" content="{{ page.updated | default: page.date | default: site.time | date_to_xmlschema }}" />
  <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook.project }}/" />    
  {%- endif %}
  <meta property="og:title" content="{{ page.title | escape }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:description" content="{{ page.excerpt | escape | strip }}" />
  <meta name="description" content="{{ page.excerpt | escape | strip }}" />
  <meta property="og:image" content="{{ page.url | append: "facebook.jpg" | absolute_url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:alt" content="Imagen destacada de la página" />
  {{- metatagscomunes }}
  {%- if page.previous.url %}
  <link rel="prev" href="{{ page.previous.url | relative_url }}" />
  {%- endif %}
  {%- if page.next.url %}
  <link rel="next" href="{{ page.next.url | relative_url }}" />
  {%- endif %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
{%- endif %}
  <script defer="defer" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script defer="defer" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script defer="defer" src="{{ "/main.js" | relative_url }}"></script>
  <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key={{ site.google.apikey }}&amp;libraries=geometry&amp;callback=initMap"></script>
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics }}"></script>
  <link rel="stylesheet" href="{{ "/main.css" | relative_url }}" />
</head>
