{%- capture resultado -%}
{%- case include.in -%}
{%- when 0 -%}AliceBlue
{%- when 1 -%}AntiqueWhite
{%- when 2 -%}Aqua
{%- when 3 -%}Aquamarine
{%- when 4 -%}Azure
{%- when 5 -%}Beige
{%- when 6 -%}Bisque
{%- when 7 -%}Black
{%- when 8 -%}BlanchedAlmond
{%- when 9 -%}Blue
{%- when 10 -%}BlueViolet
{%- when 11 -%}Brown
{%- when 12 -%}BurlyWood
{%- when 13 -%}CadetBlue
{%- when 14 -%}Chartreuse
{%- when 15 -%}Chocolate
{%- when 16 -%}Coral
{%- when 17 -%}CornflowerBlue
{%- when 18 -%}Cornsilk
{%- when 19 -%}Crimson
{%- when 20 -%}Cyan
{%- when 21 -%}DarkBlue
{%- when 22 -%}DarkCyan
{%- when 23 -%}DarkGoldenRod
{%- when 24 -%}DarkGray
{%- when 25 -%}YellowGreen
{%- when 26 -%}DarkGreen
{%- when 27 -%}DarkKhaki
{%- when 28 -%}DarkMagenta
{%- when 29 -%}DarkOliveGreen
{%- when 30 -%}DarkOrange
{%- when 31 -%}DarkOrchid
{%- when 32 -%}DarkRed
{%- when 33 -%}DarkSalmon
{%- when 34 -%}DarkSeaGreen
{%- when 35 -%}DarkSlateBlue
{%- when 36 -%}DarkSlateGray
{%- when 37 -%}Yellow
{%- when 38 -%}DarkTurquoise
{%- when 39 -%}DarkViolet
{%- when 40 -%}DeepPink
{%- when 41 -%}DeepSkyBlue
{%- when 42 -%}DimGray
{%- when 43 -%}WhiteSmoke
{%- when 44 -%}DodgerBlue
{%- when 45 -%}FireBrick
{%- when 46 -%}FloralWhite
{%- when 47 -%}ForestGreen
{%- when 48 -%}Fuchsia
{%- when 49 -%}Gainsboro
{%- when 50 -%}GhostWhite
{%- when 51 -%}Gold
{%- when 52 -%}GoldenRod
{%- when 53 -%}Gray
{%- when 54 -%}White
{%- when 55 -%}Green
{%- when 56 -%}GreenYellow
{%- when 57 -%}HoneyDew
{%- when 58 -%}HotPink
{%- when 59 -%}IndianRed
{%- when 60 -%}Indigo
{%- when 61 -%}Ivory
{%- when 62 -%}Khaki
{%- when 63 -%}Lavender
{%- when 64 -%}LavenderBlush
{%- when 65 -%}LawnGreen
{%- when 66 -%}LemonChiffon
{%- when 67 -%}LightBlue
{%- when 68 -%}LightCoral
{%- when 69 -%}LightCyan
{%- when 70 -%}LightGoldenRodYellow
{%- when 71 -%}LightGray
{%- when 72 -%}Wheat
{%- when 73 -%}LightGreen
{%- when 74 -%}LightPink
{%- when 75 -%}LightSalmon
{%- when 76 -%}LightSeaGreen
{%- when 77 -%}LightSkyBlue
{%- when 78 -%}LightSlateGray
{%- when 79 -%}Violet
{%- when 80 -%}LightSteelBlue
{%- when 81 -%}LightYellow
{%- when 82 -%}Lime
{%- when 83 -%}LimeGreen
{%- when 84 -%}Linen
{%- when 85 -%}Magenta
{%- when 86 -%}Maroon
{%- when 87 -%}MediumAquaMarine
{%- when 88 -%}MediumBlue
{%- when 89 -%}MediumOrchid
{%- when 90 -%}MediumPurple
{%- when 91 -%}MediumSeaGreen
{%- when 92 -%}MediumSlateBlue
{%- when 93 -%}MediumSpringGreen
{%- when 94 -%}MediumTurquoise
{%- when 95 -%}MediumVioletRed
{%- when 96 -%}MidnightBlue
{%- when 97 -%}MintCream
{%- when 98 -%}MistyRose
{%- when 99 -%}Moccasin
{%- when 100 -%}NavajoWhite
{%- when 101 -%}Navy
{%- when 102 -%}OldLace
{%- when 103 -%}Olive
{%- when 104 -%}OliveDrab
{%- when 105 -%}Orange
{%- when 106 -%}OrangeRed
{%- when 107 -%}Orchid
{%- when 108 -%}PaleGoldenRod
{%- when 109 -%}PaleGreen
{%- when 110 -%}PaleTurquoise
{%- when 111 -%}PaleVioletRed
{%- when 112 -%}PapayaWhip
{%- when 113 -%}PeachPuff
{%- when 114 -%}Peru
{%- when 115 -%}Pink
{%- when 116 -%}Plum
{%- when 117 -%}PowderBlue
{%- when 118 -%}Purple
{%- when 119 -%}RebeccaPurple
{%- when 120 -%}Red
{%- when 121 -%}RosyBrown
{%- when 122 -%}RoyalBlue
{%- when 123 -%}SaddleBrown
{%- when 124 -%}Salmon
{%- when 125 -%}SandyBrown
{%- when 126 -%}SeaGreen
{%- when 127 -%}SeaShell
{%- when 128 -%}Sienna
{%- when 129 -%}Silver
{%- when 130 -%}SkyBlue
{%- when 131 -%}SlateBlue
{%- when 132 -%}SlateGray
{%- when 133 -%}Turquoise
{%- when 134 -%}Snow
{%- when 135 -%}SpringGreen
{%- when 136 -%}SteelBlue
{%- when 137 -%}Tan
{%- when 138 -%}Teal
{%- when 139 -%}Thistle
{%- when 140 -%}Tomato
{%- else -%}Black
{%- endcase -%}
{%- endcapture -%}
{{ resultado }}