---
layout: default
---
<div id="global-map-canvas"></div>

<div class="global-map-datos">

<div class="global-map-datos-perfil"></div>

<img class="global-map-datos-destacada" src="sin-seleccion.png" alt="Sin selección" />

<img class="global-map-datos-icono-actividad" src="codigoactividad.png" alt="Actividad" />

<h6 class="global-map-datos-actividad">Actividad</h6>

<h4><a class="global-map-datos-titulo" href="/slug">Título</a></h4>

<h6 class="global-map-datos-fecha">Fecha</h6>

<p class="global-map-datos-resumen">Excerpt</p>

<div><i class="fas fa-long-arrow-alt-right fa-fw"></i><span class="global-map-datos-distancia"> km</span></div>
<div><i class="fas fa-trophy fa-fw"></i><span class="global-map-datos-ibp"> ibp</span></div>
<div><i class="fas fa-clock fa-fw"></i><span class="global-map-datos-duracion"> km</span></div>
<div><i class="fas fa-stopwatch fa-fw"></i><span class="global-map-datos-movimiento"> km</span></div>
<div><i class="fas fa-angle-double-up fa-fw"></i><span class="global-map-datos-ascenso"> km</span></div>
<div><i class="fas fa-angle-double-down fa-fw"></i><span class="global-map-datos-descenso"> km</span></div>
<div><i class="fas fa-angle-up fa-fw"></i><span class="global-map-datos-cima"> km</span></div>
<div><i class="fas fa-angle-down fa-fw"></i><span class="global-map-datos-sima"> km</span></div>
<div><i class="fas fa-redo-alt fa-fw"></i><span class="global-map-datos-circular"> km</span></div>

</div>